{% extends "layout.html" %}
{% block title %}Sponsors {{ this.year }}{% endblock %}
{% block body %}
	<style>
		img.sponsorlogo { max-height:200; max-width:200px; display:inline-block; padding:20px 50px; }
		div.page {
			background: #fff;
			color: #000;
		}
	</style>
  <h2>Sponsors {{ this.year }}</h2>
  <p>{{ this.header }}</p>
  {% if this.body %}
  	{% for level, blks in this.body.blocks|groupby("level") %}
  		<h3>{{ level }}</h3>
  		{% for blk in blks %}
  			<a href="{{ blk.website_url }}"><img class="sponsorlogo" src="{{ blk.sponsor_image }}"></a>
  		{% endfor %}
  	{% endfor %}
  {% endif %}
{% endblock %}
